<h1> <%= @group.name %> </h1>
<hr>

<strong><%= @group.description %><br></strong>

<ul>
<% @interest.all.map do |interest| %>
       <li> <%= link_to interest.name, interest_path(interest)%> <br> </li>
<% end %>
</ul>

<%=button_to "Back to Main Page", user_path(@current_user), method: :get %>