<h1><%= @current_user.full_name%></h1>

<%byebug%>
<%= @current_user.profile_description%>








<%= link_to '<button>Edit Your Profile</button>'.html_safe, edit_user_path(@current_user) %>
<%= button_to "Delete Your Profile", delete_user_path, method: :delete %>
