<h1>Hello, <%= @user.full_name%></h1>



<%= link_to '<button>Lookup Events</button>'.html_safe, events_path %>
<%= link_to '<button>Register For Event</button>'.html_safe, new_user_event_path %>
<%= link_to '<button>Delete Event</button>'.html_safe, destroy_event_path %>