<h1> This is for the index page </h1>

<ul>
<% @events.map do |event| %>
    <li><%=link_to event.name, event_path(event)%></li>
<%end%>
</ul>

<%=button_to "Back to Main Page", user_path(@current_user), method: :get %>