<h1> Your Events </h1>

<%if @userevents.present?%>
    <% @userevents.map do |userevent| %>
    <%= link_to userevent.event_name, user_event_path(userevent) %><br>
    <%end%>
<%elsif @userevents.empty?%>
    <p>You do not currently have any events</p>
<%end%>
<br>
<br>
<%=button_to "Back to Main Page", pages_path, method: :get %>